<nav class="navbar navbar-fixed navbar-inner header" style="padding: 0px 16px">
    <div class="navbar-brand" style="color: dodgerblue;display: table;">
        <i class="fa fa-camera-retro fa-3x" style="color: dodgerblue;"></i>
        <a href="/index" style="display: table-cell; vertical-align: middle; padding-left: 15px;">ESP32CAM Server</a>
    </div>

    <ul class="nav pull-right">
        <li>
            <a class="nav-link" href="/device">Devices</a>
        </li>
        <li>
            <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li>
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>